body {
	background-color:#333;
	background-repeat:no-repeat;
	color:orange;
}

.logo {
	width:100%;
	height: 300px;
	color:orange;
	background: url("../imgs/Header.png") no-repeat;
	background-size: 50% auto;
	background-position: center;
}

table {
	width:100%;
}

table tr td, th {
	width:50%;
	font-size: 371%;
	font-weight: bold;
	font-variant: all-petite-caps;
}

.landing_mc {
	width: 385px;
	height: 478px;
	background-image: url("../imgs/Minecraft.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	margin-left:auto;
	margin-right:auto;
}

.landing_csgo{
	width: 385px;
	height: 478px;
	background-image: url("../imgs/CS_GO.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	margin-left:auto;
	margin-right:auto;
}

.landing_mc:hover {
	width: 385px;
	height: 478px;
	background-image: url("../imgs/Minecraft_hover.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	margin-left:auto;
	margin-right:auto;
	cursor: pointer;
}

.landing_csgo:hover {
	width: 385px;
	height: 478px;
	background-image: url("../imgs/CS_GO_hover.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	margin-left:auto;
	margin-right:auto;
	cursor: pointer;
}